* {
	border: 1px solid lightblue;
	color: #666;
}

body {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	text-align: center;
}

ul {
	list-style: none;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	width: 690px;
	margin: 0 auto;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;

}

.card {
	width: 100px;
	height: 100px;
	font-size: 4em;
}