* {
/*	border: 1px solid lightblue;*/
	color: #666;
}

body {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	text-align: center;
}

ul {
	list-style: none;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	width: 700px;
	margin: 0 auto;
	background: #f2f2f2;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 100px;
	height: 100px;
	font-size: 0;
	background: #444;
	border: none;
	/*background: linear-gradient(90deg, #E0EFF7 0%, #E1F1F5 100%);*/
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.card.flip {
	/*-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);*/
	background: white;
	cursor: default;
	transform: rotateY(0);
	animation-name: flip;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;

}

.card.flipped {
	font-size: 2.5em;
}

.card.match {
	cursor: default;
	background: #81cc63;
	font-size: 3.2em;
	animation-name: bounce;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}

.card.unmatched {
	animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .5s;

}

.card.disabled {
	pointer-events: none;
}

.match .fa {
	color: white;
}

.fa {
	color: #777;
}


